* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    max-width: 1310px;
    margin: 0 auto;
}

.post {
    width: 420px;

    padding-bottom: 10px;

    position: relative;
}

.post-block {
    position: relative;
    height: 200px;
    background-color: #bdbdbd;
}

.id-post {
    margin-top: 10px;
    margin-left: 10px;
}

.title {
    margin-top: 10px;
}

.body-post {
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.title, .body-post {
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    position: absolute;
    bottom: 1px;
    height: 30px;
    width: 150px;
}

.hide {

}

.comment-block {
    display: none;
    flex-direction: column;
    row-gap: 10px;
    background-color: #bdbdbd;
}

.comment {
    padding: 0 10px 0 10px;
    border: 1px solid black;
}

.email-comment {
    display: block;
}
